# .bashrc

# source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# Uncomment thefollowoing line if you don't like systemctl 's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions

PS1="{{ default_prompt }}"

